section.canhcam-slider-1(bg-img="./img/slider/slider-2.png")
	.container
		article.owl-carousel.owl-theme.list-items
			.item
				.title
					h1 Happy Customers
					p Always glad to see you
					h3.h3 John Doe
					span Office Manager
					p "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque tempora vel quas atque labore aliquid rem dicta inventore iste"
				.img-per
					img(src='./img/user/avatar-large-1.png', alt='sq-sample10')

			.item
				.title
					h1 Happy Customers
					p Always glad to see you
					h3.h3 John Doe
					span Office Manager
					p "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque tempora vel quas atque labore aliquid rem dicta inventore iste"
				.img-per
					img(src='./img/user/avatar-large-1.png', alt='sq-sample10')
			.item
				.title
					h1 Happy Customers
					p Always glad to see you
					h3.h3 John Doe
					span Office Manager
					p "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque tempora vel quas atque labore aliquid rem dicta inventore iste"
				.img-per
					img(src='./img/user/avatar-large-1.png', alt='sq-sample10')
