section.canhcam-boxes-16
	.container
		.title.text-center
			h2.h2-text Macalori
			span & coffe
			p.text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum dolorum recusandae nesciunt quia reprehenderit quam
		.row
			.testimonial-slider.col-md-4
				figure.item
					img(src='./img/user/avatar-large-1.png', alt='sq-sample10')
					figcaption
						h3 Alway fresh
						blockquote
							| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ac condimentum mi, vitae iaculis ante. Suspendisse viverra urna quis diam sodales, convallis auctor nibh.
			.testimonial-slider.col-md-4
				figure.item.border-right.border-left
					img(src='./img/user/avatar-large-1.png', alt='sq-sample10')
					figcaption
						h3 Alway fresh
						blockquote
							| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ac condimentum mi, vitae iaculis ante. Suspendisse viverra urna quis diam sodales, convallis auctor nibh.
			.testimonial-slider.col-md-4
				figure.item
					img(src='./img/user/avatar-large-1.png', alt='sq-sample10')
					figcaption
						h3 Alway fresh
						blockquote
							| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ac condimentum mi, vitae iaculis ante. Suspendisse viverra urna quis diam sodales, convallis auctor nibh.
						
				