section.canhcam-carousel-9
	.default-title.white.text-center
		h2 Opening hours
		p We wait for you everyday... Except one.
	.wrap
		.slide-2.slide.nav.text-center.d-none.d-lg-flex
			.item
				h5 Su
			.item
				h5 Mo
			.item
				h5 Tu
			.item
				h5 We
			.item
				h5 Th
			.item
				h5 Fi
			.item
				h5 Sa
		.slide-3.slide.content
			.item
				.text
					p OPEN
						span &nbsp 08 am - 21 pm
					p.cc OPEN 09 am - 23 pm
					h3 CLOSED
