section.canhcam-services-9
	.row.no-gutters.mb-4
		.col-lg 
			figure
				img(src="./img/slider/slider-big-1.jpg", alt="alt").img-fluid
		.col-lg-5
			.text 
				h3.h3 Nội thất
				p.lead Lorem, ipsum dolor sit amet consectetur adipisicing elit. Explicabo modi maxime ipsam voluptates nesciunt vitae consectetur esse molestias repellendus corrupti excepturi mollitia, eaque dolore ducimus animi aliquid perferendis blanditiis quidem.
				p.mb-0 
					a.btn.btn-primary.btn-lg(href='#') Read more
	.container
		.title.d-flex
			h2.h2-text Opening Hours....
			p we are a supper hero...expect one
		
