section.canhcam-boxes-8
	article.news-hot
		.container
			.row
				.col-lg-2.box-all.no-gutters
					a.item(href="#")
						figure
							.img.d-flex.align-items-center.item-child(bg-img='./img/user/avatar-large-1.png')
							figcaption
								.text.text-center
									h3 Kinh nghiệm đặt 
									p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laudantium quia
									time $19.5
				.col-lg-2.box-all.no-gutters
					a.item(href="#")
						figure
							.img.d-flex.align-items-center.item-child(bg-img='./img/user/avatar-large-1.png')
							figcaption
								.text
									h3 Kinh nghiệm đặt phòng khách sạn vào dịp lễ 
									p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laudantium quia
									time $19.5			
				.col-lg-2.box-all.no-gutters
					a.item(href="#")
						figure
							.img.d-flex.align-items-center.item-child(bg-img='./img/user/avatar-large-1.png')
							figcaption
								.text
									time 12/12/2017
									h3 Kinh nghiệm đặt phòng khách sạn vào dịp lễ 
									p Chuỗi nhà hàng SnowZ vốn nổi tiếng với không gian sang trọng, nhân viên nhiệt tình chu đáo, thực đơn đặc sắc các món ăn Nhật ngon mắt, lạ miệng, nhưng lại rất dễ thưởng thức, rất gần với khẩu vị người Việt như các món hải sản, sushi, sashimi, tempura, các món nướng theo phong cách Nhật.
				.col-lg-2.box-all.no-gutters
					a.item(href="#")
						figure
							.img.d-flex.align-items-center.item-child(bg-img='./img/user/avatar-large-1.png')
							figcaption
								.text
									time 12/12/2017
									h3 Kinh nghiệm đặt phòng khách sạn vào dịp lễ 
									p Chuỗi nhà hàng SnowZ vốn nổi tiếng với không gian sang trọng, nhân viên nhiệt tình chu đáo, thực đơn đặc sắc các món ăn Nhật ngon mắt, lạ miệng, nhưng lại rất dễ thưởng thức, rất gần với khẩu vị người Việt như các món hải sản, sushi, sashimi, tempura, các món nướng theo phong cách Nhật.
				.col-lg-2.box-all.no-gutters
					a.item(href="#")
						figure
							.img.d-flex.align-items-center.item-child(bg-img='./img/user/avatar-large-1.png')
							figcaption
								.text
									time 12/12/2017
									h3 Kinh nghiệm đặt phòng khách sạn vào dịp lễ 
									p Chuỗi nhà hàng SnowZ vốn nổi tiếng với không gian sang trọng, nhân viên nhiệt tình chu đáo, thực đơn đặc sắc các món ăn Nhật ngon mắt, lạ miệng, nhưng lại rất dễ thưởng thức, rất gần với khẩu vị người Việt như các món hải sản, sushi, sashimi, tempura, các món nướng theo phong cách Nhật.
				.col-lg-2.box-all.no-gutters
					a.item(href="#")
						figure
							.img.d-flex.align-items-center.item-child(bg-img='./img/user/avatar-large-1.png')
							figcaption
								.text
									time 12/12/2017
									h3 Kinh nghiệm đặt phòng khách sạn vào dịp lễ 
									p Chuỗi nhà hàng SnowZ vốn nổi tiếng với không gian sang trọng, nhân viên nhiệt tình chu đáo, thực đơn đặc sắc các món ăn Nhật ngon mắt, lạ miệng, nhưng lại rất dễ thưởng thức, rất gần với khẩu vị người Việt như các món hải sản, sushi, sashimi, tempura, các món nướng theo phong cách Nhật.
			.row
				.col-lg-2.box-all.no-gutters
					a.item(href="#")
						figure
							.img.d-flex.align-items-center.item-child(bg-img='./img/user/avatar-large-1.png')
							figcaption
								.text
									time 12/12/2017
									h3 Kinh nghiệm đặt phòng khách sạn vào dịp lễ 
									p Chuỗi nhà hàng SnowZ vốn nổi tiếng với không gian sang trọng, nhân viên nhiệt tình chu đáo, thực đơn đặc sắc các món ăn Nhật ngon mắt, lạ miệng, nhưng lại rất dễ thưởng thức, rất gần với khẩu vị người Việt như các món hải sản, sushi, sashimi, tempura, các món nướng theo phong cách Nhật.
				.col-lg-2.box-all.no-gutters
					a.item(href="#")
						figure
							.img.d-flex.align-items-center.item-child(bg-img='./img/user/avatar-large-1.png')
							figcaption
								.text
									time 12/12/2017
									h3 Kinh nghiệm đặt phòng khách sạn vào dịp lễ 
									p Chuỗi nhà hàng SnowZ vốn nổi tiếng với không gian sang trọng, nhân viên nhiệt tình chu đáo, thực đơn đặc sắc các món ăn Nhật ngon mắt, lạ miệng, nhưng lại rất dễ thưởng thức, rất gần với khẩu vị người Việt như các món hải sản, sushi, sashimi, tempura, các món nướng theo phong cách Nhật.				
				.col-lg-2.box-all.no-gutters
					a.item(href="#")
						figure
							.img.d-flex.align-items-center.item-child(bg-img='./img/user/avatar-large-1.png')
							figcaption
								.text
									time 12/12/2017
									h3 Kinh nghiệm đặt phòng khách sạn vào dịp lễ 
									p Chuỗi nhà hàng SnowZ vốn nổi tiếng với không gian sang trọng, nhân viên nhiệt tình chu đáo, thực đơn đặc sắc các món ăn Nhật ngon mắt, lạ miệng, nhưng lại rất dễ thưởng thức, rất gần với khẩu vị người Việt như các món hải sản, sushi, sashimi, tempura, các món nướng theo phong cách Nhật.
				.col-lg-2.box-all.no-gutters
					a.item(href="#")
						figure
							.img.d-flex.align-items-center.item-child(bg-img='./img/user/avatar-large-1.png')
							figcaption
								.text
									time 12/12/2017
									h3 Kinh nghiệm đặt phòng khách sạn vào dịp lễ 
									p Chuỗi nhà hàng SnowZ vốn nổi tiếng với không gian sang trọng, nhân viên nhiệt tình chu đáo, thực đơn đặc sắc các món ăn Nhật ngon mắt, lạ miệng, nhưng lại rất dễ thưởng thức, rất gần với khẩu vị người Việt như các món hải sản, sushi, sashimi, tempura, các món nướng theo phong cách Nhật.
				.col-lg-2.box-all.no-gutters
					a.item(href="#")
						figure
							.img.d-flex.align-items-center.item-child(bg-img='./img/user/avatar-large-1.png')
							figcaption
								.text
									time 12/12/2017
									h3 Kinh nghiệm đặt phòng khách sạn vào dịp lễ 
									p Chuỗi nhà hàng SnowZ vốn nổi tiếng với không gian sang trọng, nhân viên nhiệt tình chu đáo, thực đơn đặc sắc các món ăn Nhật ngon mắt, lạ miệng, nhưng lại rất dễ thưởng thức, rất gần với khẩu vị người Việt như các món hải sản, sushi, sashimi, tempura, các món nướng theo phong cách Nhật.
				.col-lg-2.box-all.no-gutters
					a.item(href="#")
						figure
							.img.d-flex.align-items-center.item-child(bg-img='./img/user/avatar-large-1.png')
							figcaption
								.text
									time 12/12/2017
									h3 Kinh nghiệm đặt phòng khách sạn vào dịp lễ 
									p Chuỗi nhà hàng SnowZ vốn nổi tiếng với không gian sang trọng, nhân viên nhiệt tình chu đáo, thực đơn đặc sắc các món ăn Nhật ngon mắt, lạ miệng, nhưng lại rất dễ thưởng thức, rất gần với khẩu vị người Việt như các món hải sản, sushi, sashimi, tempura, các món nướng theo phong cách Nhật.
			