section.news
	.container
		.title.text-center
			h2.h2-text Our News
			p.text Lorem ipsum dolor sit amet
		.row
			.testimonial-slider.col-md-4
				figure.item
					img(src='./img/user/avatar-large-1.png', alt='sq-sample10')
					figcaption
						h3 Alway fresh
						p Vivamus ac condimentum
						blockquote
							| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ac condimentum mi, vitae iaculis ante. Suspendisse viverra urna quis diam sodales, convallis auctor nibh.
						a.btn.btn-primary.btn-lg(href='#') Read more
			.testimonial-slider.col-md-4
				figure.item
					img(src='./img/user/avatar-large-1.png', alt='sq-sample10')
					figcaption
						h3 Cozy place
						p Vivamus ac condimentum
						blockquote
							| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ac condimentum mi, vitae iaculis ante. Suspendisse viverra urna quis diam sodales, convallis auctor nibh.
						a.btn.btn-primary.btn-lg(href='#') Read more
			.testimonial-slider.col-md-4
				figure.item
					img(src='./img/user/avatar-large-1.png', alt='sq-sample10')
					figcaption
						h3 Healthy food
						p Vivamus ac condimentum
						blockquote
							| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ac condimentum mi, vitae iaculis ante. Suspendisse viverra urna quis diam sodales, convallis auctor nibh.
						a.btn.btn-primary.btn-lg(href='#') Read more
						
				